APP_NAME="ACE-Step API Prototype"
APP_ENV="development"
APP_HOST="127.0.0.1"
APP_PORT="8200"
PUBLIC_BASE_URL="http://127.0.0.1:8200"

ACESTEP_BASE_URL="http://127.0.0.1:8001"
ACESTEP_API_KEY=""
ACESTEP_REQUEST_TIMEOUT_SECONDS="600"
ACESTEP_POLL_TIMEOUT_SECONDS="120"
POLL_INTERVAL_SECONDS="10"
MAX_POLL_ATTEMPTS="90"
